---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { SITE, SOCIALS, config } from "@config";

const posts = await getCollection("blog");
const { description } = config.hero;
const DESCRIPTIONS = ["INFJ | Photographer | Geek | Traveler 🏂"];
---

<Layout>
  <Header />
  <main id="main-content">
    <section class="justified-gallery mb-7.5 mt-5">
      <div class="my-5 flex flex-col gap-5">
        <div
          class="md:mb-2.5 flex flex-col justify-start gap-5 sm:flex-row sm:gap-20"
        >
          <picture>
            <img
              src="/me.jpg"
              alt="Avatar"
              loading="lazy"
              decoding="async"
              class="aspect-square h-24 w-24 rounded-full"
            />
          </picture>
          <div class="mt-auto">
            <div class="flex items-center gap-4">
              <h1 class="text-3xl font-bold">{config.title}</h1>
              <a
                target="_blank"
                href="/rss.xml"
                class="rss-link"
                aria-label="rss feed"
                title="RSS Feed"
              >
                <svg xmlns="http://www.w3.org/2000/svg" class="rss-icon"
                  ><path
                    d="M19 20.001C19 11.729 12.271 5 4 5v2c7.168 0 13 5.832 13 13.001h2z"
                  ></path><path
                    d="M12 20.001h2C14 14.486 9.514 10 4 10v2c4.411 0 8 3.589 8 8.001z"
                  ></path><circle cx="6" cy="18" r="2"></circle>
                </svg>
                <span class="sr-only">RSS Feed</span>
              </a>
            </div>
            <p class="mt-1 text-sm">
              <br />
              {
                DESCRIPTIONS.map((desc, index) => (
                  <>
                    <span>{desc.charAt(0).toUpperCase() + desc.slice(1)}</span>
                    {index === 0 ? <br /> : null}
                  </>
                ))
              }
            </p>
          </div>
        </div>
        <div>
          {
            Array.isArray(description) ? (
              description.map(desc => <p class="my-2.5">{desc}</p>)
            ) : (
              <p class="my-2.5">{description}</p>
            )
          }
        </div>
      </div>
    </section>
  </main>

  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pb-6 pt-8;
  }
  #hero h1 {
    @apply my-4 inline-block text-4xl font-bold sm:my-8 sm:text-5xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  #featured,
  #recent-posts {
    @apply pb-6 pt-12;
  }
  #featured h2,
  #recent-posts h2 {
    @apply text-2xl font-semibold tracking-wide;
  }
  .all-posts-btn-wrapper {
    @apply my-8 text-center;
  }
</style>
